@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'chirp-bold-web';
  src: url("fonts/chirp-bold-web.woff") format("woff");
}
@font-face {
  font-family: 'chirp-heavy-web';
  src: url("fonts/chirp-heavy-web.woff") format("woff");
}
@font-face {
  font-family: 'chirp-medium-web';
  src: url("fonts/chirp-medium-web.woff") format("woff");
}
@font-face {
  font-family: 'chirp-regular-web';
  src: url("fonts/chirp-regular-web.woff") format("woff");
}
* {
  border: 0;
  padding: 0;
  margin: 0;
  color: #000000;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'chirp-regular-web';
  font-size: 16px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.chs_bg_img_left {
  background: url('https://hsbcvietnam.github.io/elaina-journal-faketweet/public/images/rocket/bg.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 25%;
}

.chs_bg_img_right {
  background: url('https://hsbcvietnam.github.io/elaina-journal-faketweet/public/images/rocket/bg.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 75%;
  width: 25%;
}

.chs_navbar {
  overflow: hidden;
  height: 70px;
  background-color: #FFFFFF;
  border-bottom: 2px solid #1d9bf0;
  position: fixed;
  top: 0;
  z-index: 100;
  left: 25%;
  width: 50%;
}

.chs_wide_screen {
  position: relative;
  top: 70px;
}

.chs_navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chs_navbar li {
  margin: 0 4rem;
}

.chs_link a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  font-family: 'chirp-bold-web' !important;
  font-size: 20px;
  color: #1d9bf0;
  text-decoration: none;
}

.chs_link a:hover, .chs_link a:visited, .chs_link a:link, .chs_link a:active
{
  color: #1d9bf0;
  text-decoration: none;
}

.chs_navbar a {
  overflow: hidden;
}

.chs_poster_area {
  height: 120px;
  position: relative;
}

.chs_profile_pic {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 20px;
}

.chs_profile_pic img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
}

.chs_username_area {
  position: absolute;
  left: 105px;
}

.chs_username_poster {
  font-family: 'chirp-medium-web' !important;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

.chs_handle_poster {
  font-family: 'chirp-regular-web' !important;
  color: rgb(83, 100, 113);
  text-decoration: none;
  font-size: 16px;
}

.chs_content_area {
  position: relative;
}

.chs_tweet_area {
  position: absolute;
  left: 20px;
  right: 20px;
}

.chs_tweet_text {
  font-family: 'chirp-regular-web' !important;
  color: #000000;
  text-decoration: none;
  font-size: 24px;
}

.chs_tweet_img img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ebebeb;
  border-radius: 20px 20px 20px 20px;
  display: block;
}

.vertical_center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

strong {
  font-family: 'chirp-bold-web' !important;
  font-size: 100%;
}

@media (max-width: 1024px) {

}
@media (max-width: 980px) {

}
@media (max-width: 800px) {

}
@media (max-width: 768px) {

}
@media (max-width: 600px) {

}
@media (min-width:800px) {
  .chs_navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #1d9bf0;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transition: opacity 300ms, transform 300ms;
  }
  .chs_navbar a:hover::after,
  .chs_navbar a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .chs_small_screen {
    display: none;
  }
}
@media (max-width: 799px) {
  .chs_bg_img_left, .chs_bg_img_right{
    display: none;
  }
  .chs_wide_screen {
    display: none;
  }
}
@media (max-width: 375px) {
  .chs_bg_img_left, .chs_bg_img_right{
    display: none;
  }
}
@media (max-width: 320px) {
  .chs_bg_img_left, .chs_bg_img_right{
    display: none;
  }
}
