//- out: ../../public/index_vn.html, pretty: true
extends layout
block variables
  -
    var title = "Elaina's Journal | FakeTweet";
    //- MAKE SURE THE CORRECT LANGUAGE IS SELECTED, it either english or vietnamese
    var language = "english";

block blockMeta
  meta(property="og:url" content="https://elaina-journal-faketweet.herokuapp.com/tweet")
  meta(property="og:title" content="Elaina's Journal | FakeTweet")
  meta(name="og:description" content="Elaina just tweeted on FakeTweet")
  meta(name="description" content="Elaina just tweeted on FakeTweet")
  meta(property="og:image" content="https://hsbcvietnam.github.io/elaina-journal-faketweet/public/images/rocket/preview1.jpg")
  meta(property="og:site_name" content="Elaina's Journal")
  meta(property="og:type" content="website")
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:creator" content="@EMTElaina")

block blockCSS
  link(rel="stylesheet", href!= cssFolder + "/selectize.css")
  link(rel="stylesheet", href!= cssFolder + "/style.css")
  link(rel='canonical', href='')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

block blockJS
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src!= jsFolder + '/bootstrap.min.js')
  script(src!= jsFolder + '/chs_custom.js')
  script(src!= jsFolder + '/validate.js')
  script(src!= jsFolder + '/waypoint.js')
  script(src!= jsFolder + '/script.min.js?v=843575')
  script(src!= jsFolder + '/vendor.js')

  script(type='text/javascript').
    var pageOption = {
    language: 'english',
    };

block content
  .container-fluid
    .row
      .chs_bg_img_left
      .col-md-3
      .col-md-6.chs_navbar(align="center")
        ul
          li.chs_link
            a(href='https://www.facebook.com/elaina.journal' target='_blank') Elaina's Journal on Facebook
          li.chs_link
            a(href='https://twitter.com/EMTElaina' target='_blank') Elaina on Twitter
      .col-md-3
      .chs_bg_img_right
